body {
    background-color: rgba(20, 181, 55, 0.2);
}

.total {
    align-items: center;
}

.tipos {
    margin-left: 70vh;
    display: flex;
    float: left;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}

.informacoes {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.informacoes2 {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.faleConosco {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30%;
}

.input2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;

}

#btnLogin {
    background-color: #2A8A5C;
}

#btnLogin:hover {
    background-color: #15b065;
}

/* Responsividade geral */
@media only screen and (max-width: 768px) {
    .tipos {
        margin-left: 0;
        text-align: center;
        font-size: 15px;
    }

    .informacoes,
    .informacoes2,
    .faleConosco,
    .input,
    .input2 {
        width: 90%;
        margin-left: 5%;
    }

    .input,
    .input2 {
        width: 90%;
        margin-left: 5%;
    }

    #btnLogin {
        width: 100%;
    }
}