/* MeusPedidos */

section {
    background-color: #D0E2DA;
}

.tituloPedidos {
    margin-top: 0.2%;
    height: 50px;
    border-color: black;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botoesPedidos {
    background-color: #4a9671;
    border-radius: 10px;
    align-items: center;
    /* margin-bottom: 10px; */
}

.botoesPedidos button {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 10%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
}

.infoPedido {
    overflow-x: auto;
    white-space: nowrap;
    background: #4a9671;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
}



/* Responsividade */

@media screen and (min-width: 500px) {

    .botoesPedidos button {
        min-width: 22%;
        white-space: nowrap;
        overflow-x: auto;
    }
}


/* Responsividade */

@media screen and (max-width: 1600px) {

    .infoPedido {
        overflow-x: auto;
        white-space: nowrap;
        background: #4a9671;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 10px;
    }

    .tituloPedidos {
        white-space: nowrap;
        background-color: #D9D9D9;
    }

}

.infoPedido h3 {
    margin-top: 5%;
    text-align: center;
}

.infoPedido p {
    text-align: center;

}

.itensPedido {
    background-color: #D9D9D9;
}

@media screen and (min-width: 1000px) {

    .itensPedido {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background: #D0E2DA;
    }



}

@media screen and (min-width: 500px) and (max-width: 1480px) {

    .itensPedido {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background: #D0E2DA;
    }

}

.itensPedido .col-6 {
    margin-top: 0.5%;
    background-color: #D9D9D9;
}

.item {
    margin-top: 1%;
    margin-left: -600px;
}

.fundoItens {
    background: transparent;
    margin-left: 1.3%;
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

/* Responsividade */

@media screen and (max-width: 400px) {
    .fundoItens {
        width: 30%;

    }

    .fundoItens .descricao {
        max-width: 100px;
    }

    .fundoItens .imgItem,
    .fundoItens .comprNov {
        width: 100%;
        max-width: 260px;
        height: auto;

    }
}


.imgItem {
    width: 200px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgItem img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.descricao {
    width: 200px;
    height: 250px;
    overflow: hidden;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;



}

.descricao h5 {
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: auto;
    text-align: left;
    text-align: center;
}

.descricao h6 {
    font-weight: bold;
    text-align: center;

}


.comprNov button {
    background-color: #2A8A5C;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .infoPedido .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoPedido .col-3 {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .fundoItens {
        background: transparent;
        margin-left: 13%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }


}

@media screen and (min-width: 700px)  and (max-width: 850px) {

    .fundoItens {
        background: transparent;
        margin-left: 22%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 1100px)  and (max-width: 1270px) {

    .fundoItens {
        background: transparent;
        margin-left: 11%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 960px)  and (max-width: 1100px) {

    .fundoItens {
        background: transparent;
        margin-left: 7.5%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 1850px)  {

    .fundoItens {
        background: transparent;
        margin-left: 3.1%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 1800px) and (max-width: 1850px)  {

    .fundoItens {
        background: transparent;
        margin-left: 2.5%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 1600px) and (max-width: 1750px)  {

    .fundoItens {
        background: transparent;
        margin-left: 8%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 1450px) and (max-width: 1600PX)  {

    .fundoItens {
        background: transparent;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 1300px) and (max-width: 1440PX)  {

    .fundoItens {
        background: transparent;
        margin-left: 2%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}