html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.baixo {
    background-color: #2A8A5C;
    display: flex;
}

.texto-info {
    color: white;
    font-size: 13px;
}

.navBar {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 380px;
}

.carousel {
    display: flex;
    width: 90%;
    margin: auto;
    height: 400px;
    /* Adicionado aqui */
}

.destaque {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.imagem1,
.imagem2,
.imagem3,
.imagem4 {
    width: 100%;
    height: 80vh;
}

.card {
    display: flex;
    justify-content: space-between;

}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    color: black;
}


a {
    text-decoration: none;
    color: black;
}